[alias]
	st = status
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	co = checkout
	cob = checkout -b
	ci = commit -m
	b = branch
	com = checkout master
	aa = add -A
  d = diff
  fpwl = push --force-with-lease
[user]
	name = neil mclaughlin
	email = neil.mclaughlin@defra.gov.uk
[color]
	ui = true
[push]
	default = upstream
[core]
	editor = vim
[credential]
	helper = osxkeychain
[github]
	user = neilbmclaughlin
[commit]
	verbose = true
